@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

:root {
  --ff-barlow: "Barlow", sans-serif;
  --ff-barlowCondensed: "Barlow Condensed", sans-serif;
  --ff-bellefair: "Bellefair", serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/*-------Header-----*/
/*-------Header-----*/
header {
  //   min-height: 5.4rem;
  .nav-container {
    margin: 1.3rem;
    // margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*-------Navbar-----*/
    /*-------Navbar-----*/
    nav {
      display: flex;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(81.5px);
      width: 65%;
      min-height: 100vh;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        right: -100vw;
      }
      transition: right 0.5s ease-in-out;
      z-index: 1;

      img {
        float: right;
        max-width: 100%;
        margin: 34px 27px 65px 0;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-inline-start: 27px;
        list-style: none;
        li {
          position: relative;
          color: #fff;
          a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-family: var(--ff-barlowCondensed);
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 2.7px;

            &::before {
              content: "";
              width: 4px;
              height: 0;
              background-color: rgba(255, 255, 255, 0.5);
              position: absolute;
              right: 2.2rem;
              margin-block-end: -36px;
              transition: width 0.2s ease;
            }
            &:hover::before {
              height: 31px;
            }
            &.active::before {
              content: "";
              width: 4px;
              height: 31px;
              background-color: #fff;
              position: absolute;
              right: 2.2rem;
              margin-inline-end: -36px;
            }
          }
        }
      }
      .line {
        display: none;
      }
    }
  }
}

/*-------Section-----*/
/*-------Section-----*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  color: #fff;
  text-align: center;
  margin: 1.5rem;

  /*----left----*/
  .container-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1 {
      font-family: var(--ff-barlowCondensed);
      font-size: 16px;
      font-weight: normal;
      line-height: 1.2;
      letter-spacing: 2.7px;
      text-transform: uppercase;
      span {
        opacity: 0.25;
      }
    }
    .image-container {
      img {
        width: 10.6rem;
        height: 10.6rem;
        object-fit: cover;
      }
    }
  }

  /*---------right---------*/
  .container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    /*---------list---------*/
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      gap: 1.6rem;
      li {
        a {
          color: #d0d6f9;
          text-transform: uppercase;
          text-decoration: none;
          font-family: var(--ff-barlowCondensed);
          font-size: 14px;
          font-weight: normal;
          line-height: 17px;
          letter-spacing: 2.4px;
          position: relative;
          background: none;
          &::before {
            content: "";
            width: 0;
            height: 3px;
            background-color: rgba(255, 255, 255, 0.5);
            position: absolute;
            bottom: 0;
            margin-block-end: -8px;
            transition: width 0.2s ease;
          }
          &:hover::before {
            width: 100%;
          }
          &.active::before {
            content: "";
            width: 100%;
            height: 3px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            margin-block-end: -8px;
          }
        }
      }
    }

    /*---------article---------*/
    article {
      h2 {
        font-size: 56px;
        font-family: var(--ff-bellefair);
        font-weight: normal;
        line-height: 64px;
        text-transform: uppercase;
      }
      p {
        font-family: var(--ff-barlow);
        font-size: 15px;
        font-weight: normal;
        line-height: 1.67;
        color: #d0d6f9;
      }
    }

    /*---------line---------*/
    .line {
      width: 327px;
      height: 1px;
      background: #383b4b;
    }

    /*---------Distance & Time---------*/
    .distance-time {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      .avg-distance {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
        h3 {
          font-family: var(--ff-barlowCondensed);
          font-size: 14px;
          font-weight: normal;
          line-height: 17px;
          letter-spacing: 2.4px;
          text-transform: uppercase;
          color: #d0d6f9;
        }
        h4 {
          font-family: var(--ff-bellefair);
          font-weight: normal;
          font-size: 28px;
          line-height: 32px;
          text-align: center;
          text-transform: uppercase;

          color: #ffffff;
        }
      }

      .travel-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
        h3 {
          font-family: var(--ff-barlowCondensed);
          font-size: 14px;
          font-weight: normal;
          line-height: 17px;
          letter-spacing: 2.4px;
          text-transform: uppercase;
          color: #d0d6f9;
        }
        h4 {
          font-family: var(--ff-bellefair);
          font-weight: normal;
          font-size: 28px;
          line-height: 32px;
          text-align: center;
          text-transform: uppercase;

          color: #ffffff;
        }
      }
    }
  }
}
