@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
:root {
  --ff-barlow: "Barlow", sans-serif;
  --ff-barlowCondensed: "Barlow Condensed", sans-serif;
  --ff-bellefair: "Bellefair", serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/*-------Header-----*/
/*-------Header-----*/
header .nav-container {
  margin: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*-------Navbar-----*/
  /*-------Navbar-----*/
}

header .nav-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5px);
          backdrop-filter: blur(81.5px);
  width: 65%;
  min-height: 100vh;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  header .nav-container nav {
    position: fixed;
    top: 0;
    right: -100vw;
  }
}

header .nav-container nav img {
  float: right;
  max-width: 100%;
  margin: 34px 27px 65px 0;
}

header .nav-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  -webkit-margin-start: 27px;
          margin-inline-start: 27px;
  list-style: none;
}

header .nav-container nav ul li {
  position: relative;
  color: #fff;
}

header .nav-container nav ul li a {
  color: white;
  text-decoration: none;
  font-family: var(--ff-barlowCondensed);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2.7px;
}

header .nav-container nav ul li a::before {
  content: "";
  width: 4px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 2.2rem;
  -webkit-margin-after: -36px;
          margin-block-end: -36px;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

header .nav-container nav ul li a:hover::before {
  height: 31px;
}

header .nav-container nav ul li a.active::before {
  content: "";
  width: 4px;
  height: 31px;
  background-color: #fff;
  position: absolute;
  right: 2.2rem;
  -webkit-margin-end: -36px;
          margin-inline-end: -36px;
}

header .nav-container nav .line {
  display: none;
}

/*-------Section-----*/
/*-------Section-----*/
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
  color: #fff;
  text-align: center;
  margin: 1.5rem;
  /*----left----*/
  /*---------right---------*/
}

section .container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

section .container-left h1 {
  font-family: var(--ff-barlowCondensed);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

section .container-left h1 span {
  opacity: 0.25;
}

section .container-left .image-container img {
  width: 10.6rem;
  height: 10.6rem;
  -o-object-fit: cover;
     object-fit: cover;
}

section .container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  /*---------list---------*/
  /*---------article---------*/
  /*---------line---------*/
  /*---------Distance & Time---------*/
}

section .container-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 1.6rem;
}

section .container-right ul li a {
  color: #d0d6f9;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--ff-barlowCondensed);
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  letter-spacing: 2.4px;
  position: relative;
  background: none;
}

section .container-right ul li a::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  -webkit-margin-after: -8px;
          margin-block-end: -8px;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

section .container-right ul li a:hover::before {
  width: 100%;
}

section .container-right ul li a.active::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  -webkit-margin-after: -8px;
          margin-block-end: -8px;
}

section .container-right article h2 {
  font-size: 56px;
  font-family: var(--ff-bellefair);
  font-weight: normal;
  line-height: 64px;
  text-transform: uppercase;
}

section .container-right article p {
  font-family: var(--ff-barlow);
  font-size: 15px;
  font-weight: normal;
  line-height: 1.67;
  color: #d0d6f9;
}

section .container-right .line {
  width: 327px;
  height: 1px;
  background: #383b4b;
}

section .container-right .distance-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

section .container-right .distance-time .avg-distance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

section .container-right .distance-time .avg-distance h3 {
  font-family: var(--ff-barlowCondensed);
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #d0d6f9;
}

section .container-right .distance-time .avg-distance h4 {
  font-family: var(--ff-bellefair);
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

section .container-right .distance-time .travel-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

section .container-right .distance-time .travel-time h3 {
  font-family: var(--ff-barlowCondensed);
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #d0d6f9;
}

section .container-right .distance-time .travel-time h4 {
  font-family: var(--ff-bellefair);
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
/*# sourceMappingURL=destination.css.map */