@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

:root {
  --ff-barlow: "Barlow", sans-serif;
  --ff-barlowCondensed: "Barlow Condensed", sans-serif;
  --ff-bellefair: "Bellefair", serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/*-------Header-----*/
/*-------Header-----*/
header {
  //   min-height: 5.4rem;
  .nav-container {
    margin: 1.3rem;
    // margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*-------Navbar-----*/
    /*-------Navbar-----*/
    nav {
      display: flex;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(81.5px);
      width: 65%;
      min-height: 100vh;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        right: -100vw;
      }
      transition: right 0.5s ease-in-out;
      z-index: 1;

      img {
        float: right;
        max-width: 100%;
        margin: 34px 27px 65px 0;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-inline-start: 27px;
        list-style: none;
        li {
          position: relative;
          color: #fff;
          a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-family: var(--ff-barlowCondensed);
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 2.7px;
            &::before {
              content: "";
              width: 4px;
              height: 0;
              background-color: rgba(255, 255, 255, 0.5);
              position: absolute;
              right: 0;
              margin-block-end: -36px;
              transition: width 0.2s ease;
            }
            &.active::before {
              content: "";
              width: 4px;
              height: 31px;
              background-color: #fff;
              position: absolute;
              right: 2.2rem;
              margin-inline-end: -36px;
            }
          }
        }
      }
      .line {
        display: none;
      }
    }
  }
}

/*-------Section-----*/
/*-------Section-----*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  color: #fff;
  text-align: center;
  margin: 1.5rem;

  /*----left----*/
  .container-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1 {
      font-family: var(--ff-barlowCondensed);
      font-size: 16px;
      font-weight: normal;
      line-height: 1.2;
      letter-spacing: 2.7px;
      text-transform: uppercase;
      span {
        opacity: 0.25;
      }
    }
    .image-container {
      img {
        width: 10.6rem;
        height: 10.6rem;
        object-fit: cover;
      }
    }
  }

  /*---------right---------*/
  .container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    /*---------list---------*/
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      gap: 1.6rem;
      li {
        a {
          color: #d0d6f9;
          text-transform: uppercase;
          text-decoration: none;
          font-family: var(--ff-barlowCondensed);
          font-size: 14px;
          font-weight: normal;
          line-height: 17px;
          letter-spacing: 2.4px;
          position: relative;
          background: none;
          &.active {
            color: #fff;
          }
          &::before {
            content: "";
            width: 0;
            height: 3px;
            background-color: rgba(255, 255, 255, 0.5);
            position: absolute;
            bottom: 0;
            margin-block-end: -8px;
            transition: width 0.2s ease;
          }
          &:hover::before {
            width: 100%;
          }
          &.active::before {
            content: "";
            width: 100%;
            height: 3px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            margin-block-end: -8px;
          }
        }
      }
    }

    /*---------article---------*/
    article {
      h2 {
        font-size: 56px;
        font-family: var(--ff-bellefair);
        font-weight: normal;
        line-height: 64px;
        text-transform: uppercase;
      }
      p {
        font-family: var(--ff-barlow);
        font-size: 15px;
        font-weight: normal;
        line-height: 1.67;
        color: #d0d6f9;
      }
    }

    /*---------line---------*/
    .line {
      width: 327px;
      height: 1px;
      background: #383b4b;
    }

    /*---------Distance & Time---------*/
    .distance-time {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      .avg-distance {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
        h3 {
          font-family: var(--ff-barlowCondensed);
          font-size: 14px;
          font-weight: normal;
          line-height: 17px;
          letter-spacing: 2.4px;
          text-transform: uppercase;
          color: #d0d6f9;
        }
        h4 {
          font-family: var(--ff-bellefair);
          font-weight: normal;
          font-size: 28px;
          line-height: 32px;
          text-align: center;
          text-transform: uppercase;

          color: #ffffff;
        }
      }

      .travel-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
        h3 {
          font-family: var(--ff-barlowCondensed);
          font-size: 14px;
          font-weight: normal;
          line-height: 17px;
          letter-spacing: 2.4px;
          text-transform: uppercase;
          color: #d0d6f9;
        }
        h4 {
          font-family: var(--ff-bellefair);
          font-weight: normal;
          font-size: 28px;
          line-height: 32px;
          text-align: center;
          text-transform: uppercase;

          color: #ffffff;
        }
      }
    }
  }
}

/*-------Media queries-----*/
/*-------Media queries-----*/
/*-------Media queries-----*/
@media screen and (min-width: 768px) {
  body {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  /*-------Header-----*/
  /*-------Header-----*/
  header {
    min-height: 6rem;
    .nav-container {
      margin: 0;
      margin-inline-start: 2.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 231px;
      .logo:nth-child(2) {
        display: none;
      }

      /*-------Navbar-----*/
      /*-------Navbar-----*/
      nav {
        display: flex;
        // flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        width: 450px;
        min-height: initial;
        padding: 2.5rem 0;
        position: static;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        img {
          display: none;
        }
        ul {
          display: flex;
          flex-direction: row;
          gap: 37px;
          margin-inline-start: 0;
          list-style: none;
          li {
            /*-------Links-----*/
            /*-------Links-----*/
            a {
              color: #fff;
              position: relative;
              text-decoration: none;
              font-family: var(--ff-barlowCondensed);
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              letter-spacing: 2.4px;
              position: relative;
              &::before {
                content: "";
                width: 100%;
                height: 0;
                background-color: rgba(255, 255, 255, 0.5);
                position: absolute;
                bottom: 0;
                margin-block-end: -36px;
                transition: height 0.2s ease-in-out;
              }
              &:hover::before {
                height: 3px;
              }
              &.active::before {
                content: "";
                width: 100%;
                height: 3px;
                background-color: #fff;
                position: absolute;
                bottom: 0;
                margin-block-end: -36px;
              }
              span {
                display: none;
              }
            }
          }
        }
        .line {
          display: none;
        }
      }
    }
  }

  /*-------Section-----*/
  /*-------Section-----*/

  section {
    align-items: initial;
    text-align: left;
    margin: 2.5rem 2.4rem;
    gap: 3.3rem;

    /*----left----*/
    .container-left {
      display: flex;
      flex-direction: column;
      gap: 3.75rem;
      h1 {
        font-size: 20px;
        font-weight: normal;
        line-height: 24px;
        letter-spacing: 3.4px;
      }
      .image-container {
        margin: auto;
        img {
          width: 18.75rem;
          height: 18.75rem;
        }
      }
    }

    /*---------right---------*/
    .container-right {
      min-width: 35.8rem;
      margin: auto;
      gap: 2rem;

      /*---------list---------*/
      ul {
        gap: 2.2rem;
        li {
          a {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
            &::before {
              margin-block-end: -12px;
            }
            &.active::before {
              margin-block-end: -12px;
            }
          }
        }
      }

      /*---------article---------*/
      article {
        h2 {
          font-size: 80px;
          line-height: 1.15;
          text-align: center;
        }
        p {
          font-size: 16px;
          line-height: 1.75;
          text-align: center;
        }
      }

      /*---------line---------*/
      .line {
        width: 35.8rem;
      }

      /*---------Distance & Time---------*/
      .distance-time {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2.7rem;
        .avg-distance {
          gap: 0.75rem;
        }
        .travel-time {
          gap: 0.75rem;
        }
      }
    }
  }
}

/*----At 1440px----*/
/*----At 1440px----*/
/*----At 1440px----*/
@media screen and (min-width: 1440px) {
  body {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  /*-------Header-----*/
  /*-------Header-----*/
  header {
    // min-height: 6rem;
    .nav-container {
      margin: 0;
      margin-inline-start: 3.5rem;
      margin-block-start: 2.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 231px;
      .logo:nth-child(2) {
        display: none;
      }

      /*-------Navbar-----*/
      /*-------Navbar-----*/
      nav {
        display: flex;
        // flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        width: 830px;
        margin: 0;
        padding: 0;
        padding: 2.5rem 0;
        position: static;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        position: relative;
        img {
          display: none;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          flex-direction: row;
          gap: 37px;
          margin: 0;
          padding: 0 9.4rem;
          list-style: none;
          li {
            flex: 1;
            /*-------Links-----*/
            /*-------Links-----*/
            a {
              color: #fff;
              position: relative;
              text-decoration: none;
              font-family: var(--ff-barlowCondensed);
              font-size: 14px;
              line-height: 17px;
              letter-spacing: 2.4px;
              position: relative;
              &::before {
                content: "";
                width: 100%;
                height: 0px;
                background-color: rgba(255, 255, 255, 0.5);
                position: absolute;
                bottom: 0;
                margin-block-end: -36px;
                transition: height 0.2s ease-in-out;
              }
              &:hover::before {
                height: 3px;
              }
              &.active::before {
                content: "";
                width: 100%;
                height: 3px;
                background-color: #fff;
                position: absolute;
                bottom: 0;
                margin-block-end: -36px;
              }
              span {
                display: inline;
                font-weight: 700;
              }
            }
          }
        }
        .line {
          display: block;
          width: 473px;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.25);
          position: absolute;
          left: -27rem;
        }
      }
    }
  }

  /*-------Section-----*/
  /*-------Section-----*/

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 4.75rem 10.2rem;
    gap: 9.8rem;

    /*----left----*/
    .container-left {
      gap: 6.1rem;
      h1 {
        font-size: 28px;
        line-height: 1.2;
        letter-spacing: 4.7px;
      }
      .image-container {
        margin: 0;
        img {
          width: 27.8rem;
          height: 27.8rem;
        }
      }
    }

    /*---------right---------*/
    .container-right {
      align-items: flex-start;
      width: 100%;
      margin: initial;
      gap: 2.3rem;
      margin-block-start: 6rem;

      /*---------list---------*/
      ul {
        gap: 2.2rem;
        li {
          a {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
            text-align: start;

            &::before {
              margin-block-end: -12px;
            }
            &.active::before {
              margin-block-end: -12px;
            }
          }
        }
      }

      /*---------article---------*/
      article {
        h2 {
          font-size: 100px;
          line-height: 1.15;
          text-align: start;
        }
        p {
          font-size: 18px;
          line-height: 32px;
          text-align: start;
        }
      }

      /*---------line---------*/
      .line {
        width: 100%;
      }

      /*---------Distance & Time---------*/
      .distance-time {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;
        .avg-distance {
          gap: 0.75rem;
        }
        .travel-time {
          gap: 0.75rem;
        }
      }
    }
  }
}
