@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
:root {
  --ff-barlow: "Barlow", sans-serif;
  --ff-barlowCondensed: "Barlow Condensed", sans-serif;
  --ff-bellefair: "Bellefair", serif;
}

.logo img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  overflow: hidden;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(../assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  overflow-x: hidden;
}

/*-------Header-----*/
/*-------Header-----*/
header {
  min-height: 5.4rem;
}

header .nav-container {
  margin: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*-------Navbar-----*/
  /*-------Navbar-----*/
}

header .nav-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5px);
          backdrop-filter: blur(81.5px);
  width: 65%;
  min-height: 100vh;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  header .nav-container nav {
    position: fixed;
    top: 0;
    right: -100vw;
  }
}

header .nav-container nav img {
  float: right;
  max-width: 100%;
  margin: 34px 27px 65px 0;
}

header .nav-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  -webkit-margin-start: 27px;
          margin-inline-start: 27px;
  list-style: none;
}

header .nav-container nav ul li {
  position: relative;
  color: #fff;
}

header .nav-container nav ul li a {
  color: white;
  text-decoration: none;
  font-family: var(--ff-barlowCondensed);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2.7px;
}

header .nav-container nav ul li a::before {
  content: "";
  width: 4px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  -webkit-margin-after: -36px;
          margin-block-end: -36px;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

header .nav-container nav ul li a:hover::before {
  height: 31px;
}

header .nav-container nav ul li a.active::before {
  content: "";
  width: 4px;
  height: 31px;
  background-color: #fff;
  position: absolute;
  right: 2.2rem;
  -webkit-margin-end: -36px;
          margin-inline-end: -36px;
}

header .nav-container nav .line {
  display: none;
}

/*-------Section-----*/
/*-------Section-----*/
section {
  color: #fff;
  text-align: center;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin: 3.6rem 1.5rem;
}

section .container h1 {
  font-family: var(--ff-barlowCondensed);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2.7px;
  color: #d0d6f9;
  text-transform: uppercase;
}

section .container h1 span {
  color: #ffffff;
  font-family: var(--ff-bellefair);
  font-size: 80px;
  line-height: 100px;
}

section .container p {
  color: #d0d6f9;
  font-family: var(--ff-barlow);
  font-size: 15px;
  line-height: 25px;
}

section .explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  color: #0b0d17;
  width: 150px;
  height: 150px;
  margin: auto;
  text-transform: uppercase;
  font-family: var(--ff-bellefair);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 1.25px;
  border-radius: 50%;
  -webkit-margin-before: 1.5rem;
          margin-block-start: 1.5rem;
  position: relative;
}

section .explore a {
  text-decoration: none;
  color: #0b0d17;
}

section .explore a::before {
  content: "";
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  position: absolute;
  inset: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

section .explore a:hover::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/*-------Media queries-----*/
/*-------Media queries-----*/
/*-------Media queries-----*/
@media screen and (min-width: 768px) {
  body {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  /*-------Header-----*/
  /*-------Header-----*/
  header {
    min-height: 6rem;
  }
  header .nav-container {
    margin: 0;
    -webkit-margin-start: 2.5rem;
            margin-inline-start: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 231px;
    /*-------Navbar-----*/
    /*-------Navbar-----*/
  }
  header .nav-container .logo:nth-child(2) {
    display: none;
  }
  header .nav-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(81.5485px);
            backdrop-filter: blur(81.5485px);
    width: 450px;
    min-height: initial;
    padding: 2.5rem 0;
    position: static;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  header .nav-container nav img {
    display: none;
  }
  header .nav-container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 37px;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    list-style: none;
  }
  header .nav-container nav ul li {
    /*-------Links-----*/
    /*-------Links-----*/
  }
  header .nav-container nav ul li a {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-family: var(--ff-barlowCondensed);
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.4px;
    position: relative;
  }
  header .nav-container nav ul li a::before {
    content: "";
    width: 0;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    -webkit-margin-after: -36px;
            margin-block-end: -36px;
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
  }
  header .nav-container nav ul li a:hover::before {
    width: 100%;
  }
  header .nav-container nav ul li a.active::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    -webkit-margin-after: -36px;
            margin-block-end: -36px;
  }
  header .nav-container nav ul li a span {
    display: none;
  }
  header .nav-container nav .line {
    display: none;
  }
  /*-------Section-----*/
  /*-------Section-----*/
  section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    margin: 0 9.9rem;
    -webkit-margin-before: 6.6rem;
            margin-block-start: 6.6rem;
  }
  section .container h1 {
    font-size: 20px;
    line-height: 48px;
    letter-spacing: 3.4px;
  }
  section .container h1 span {
    font-size: 150px;
    line-height: 1;
  }
  section .container p {
    font-size: 16px;
    line-height: 28px;
  }
  section .explore {
    width: 242px;
    height: 242px;
    margin: auto;
    text-transform: uppercase;
    font-family: var(--ff-bellefair);
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    border-radius: 50%;
    -webkit-margin-before: 9.8rem;
            margin-block-start: 9.8rem;
    position: relative;
  }
  section .explore a {
    text-decoration: none;
    color: #0b0d17;
  }
}

/*----At 1440px----*/
/*----At 1440px----*/
@media screen and (min-width: 1440px) {
  body {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  /*-------Header-----*/
  /*-------Header-----*/
  header .nav-container {
    margin: 0;
    -webkit-margin-start: 3.5rem;
            margin-inline-start: 3.5rem;
    -webkit-margin-before: 2.5rem;
            margin-block-start: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 231px;
    /*-------Navbar-----*/
    /*-------Navbar-----*/
  }
  header .nav-container .logo:nth-child(2) {
    display: none;
  }
  header .nav-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(81.5485px);
            backdrop-filter: blur(81.5485px);
    width: 830px;
    margin: 0;
    padding: 0;
    padding: 2.5rem 0;
    position: static;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
  }
  header .nav-container nav img {
    display: none;
  }
  header .nav-container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 37px;
    margin: 0;
    padding: 0 9.4rem;
    list-style: none;
  }
  header .nav-container nav ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    /*-------Links-----*/
    /*-------Links-----*/
  }
  header .nav-container nav ul li a {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-family: var(--ff-barlowCondensed);
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.4px;
    position: relative;
  }
  header .nav-container nav ul li a::before {
    content: "";
    width: 0;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    -webkit-margin-after: -36px;
            margin-block-end: -36px;
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
  }
  header .nav-container nav ul li a:hover::before {
    width: 100%;
  }
  header .nav-container nav ul li a.active::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    -webkit-margin-after: -36px;
            margin-block-end: -36px;
  }
  header .nav-container nav ul li a span {
    display: inline;
    font-weight: 700;
  }
  header .nav-container nav .line {
    display: block;
    width: 473px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    left: -27rem;
  }
  /*-------Section-----*/
  /*-------Section-----*/
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    -webkit-margin-before: 10.6rem;
            margin-block-start: 10.6rem;
    margin-inline: 10.3rem;
  }
  section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 450px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
    margin: 0;
  }
  section .container h1 {
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 4.7px;
    text-align: left;
  }
  section .container h1 span {
    text-align: left;
    font-size: 150px;
    line-height: 172px;
  }
  section .container p {
    font-size: 18px;
    line-height: 28px;
    width: 100%;
  }
  section .explore {
    width: 274px;
    height: 274px;
    margin: 0;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    position: relative;
  }
  section .explore a {
    text-decoration: none;
    color: #0b0d17;
  }
}
/*# sourceMappingURL=style.css.map */