@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
:root {
  --ff-barlow: "Barlow", sans-serif;
  --ff-barlowCondensed: "Barlow Condensed", sans-serif;
  --ff-bellefair: "Bellefair", serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(../assets/technology/background-technology-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/*-------Header-----*/
/*-------Header-----*/
header .nav-container {
  margin: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*-------Navbar-----*/
  /*-------Navbar-----*/
}

header .nav-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5px);
          backdrop-filter: blur(81.5px);
  width: 65%;
  min-height: 100vh;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  header .nav-container nav {
    position: fixed;
    top: 0;
    right: -100vw;
  }
}

header .nav-container nav img {
  float: right;
  max-width: 100%;
  margin: 34px 27px 65px 0;
}

header .nav-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  -webkit-margin-start: 27px;
          margin-inline-start: 27px;
  list-style: none;
}

header .nav-container nav ul li {
  position: relative;
  color: #fff;
}

header .nav-container nav ul li a {
  color: white;
  text-decoration: none;
  font-family: var(--ff-barlowCondensed);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2.7px;
}

header .nav-container nav ul li a::before {
  content: "";
  width: 4px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  -webkit-margin-after: -36px;
          margin-block-end: -36px;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

header .nav-container nav ul li a.active::before {
  content: "";
  width: 4px;
  height: 31px;
  background-color: #fff;
  position: absolute;
  right: 2.2rem;
  -webkit-margin-end: -36px;
          margin-inline-end: -36px;
}

header .nav-container nav .line {
  display: none;
}

/*-------Heading-----*/
/*-------Heading-----*/
h1 {
  color: #fff;
  font-family: var(--ff-barlowCondensed);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 2.7px;
  text-align: center;
  text-transform: uppercase;
}

h1 span {
  opacity: 0.25;
}

/*-------Section-----*/
/*-------Section-----*/
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  color: #fff;
  text-align: center;
  margin: 1.5rem 0;
  /*----right----*/
  /*----left----*/
}

section .container-right img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

section .container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

section .container-left .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

section .container-left .btn-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-family: var(--ff-bellefair);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
}

section .container-left .btn-container .active {
  background-color: white;
  color: #0b0d17;
}

section .container-left article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

section .container-left article .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

section .container-left article .names h2 {
  font-family: var(--ff-barlowCondensed);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.3625px;
  color: #d0d6f9;
}

section .container-left article .names h3 {
  font-family: var(--ff-bellefair);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

section .container-left article p {
  width: 80%;
  margin: auto;
  font-family: var(--ff-barlow);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.563;
  text-align: center;
  color: #d0d6f9;
}

/*-------Media queries-----*/
/*-------Media queries-----*/
/*-------Media queries-----*/
@media screen and (min-width: 768px) {
  body {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  /*-------Header-----*/
  /*-------Header-----*/
  header {
    min-height: 6rem;
  }
  header .nav-container {
    margin: 0;
    -webkit-margin-start: 2.5rem;
            margin-inline-start: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 231px;
    /*-------Navbar-----*/
    /*-------Navbar-----*/
  }
  header .nav-container .logo:nth-child(2) {
    display: none;
  }
  header .nav-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(81.5485px);
            backdrop-filter: blur(81.5485px);
    width: 450px;
    min-height: initial;
    padding: 2.5rem 0;
    position: static;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  header .nav-container nav img {
    display: none;
  }
  header .nav-container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 37px;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    list-style: none;
  }
  header .nav-container nav ul li {
    /*-------Links-----*/
    /*-------Links-----*/
  }
  header .nav-container nav ul li a {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-family: var(--ff-barlowCondensed);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.4px;
    position: relative;
  }
  header .nav-container nav ul li a::before {
    content: "";
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    -webkit-margin-after: -36px;
            margin-block-end: -36px;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
  }
  header .nav-container nav ul li a:hover::before {
    height: 3px;
  }
  header .nav-container nav ul li a.active::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    -webkit-margin-after: -36px;
            margin-block-end: -36px;
  }
  header .nav-container nav ul li a span {
    display: none;
  }
  header .nav-container nav .line {
    display: none;
  }
  h1 {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
    margin: 2.5rem 0 3.75rem 2.406rem;
  }
  /*-------Section-----*/
  /*-------Section-----*/
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.5rem;
    /*----right----*/
    /*----left----*/
  }
  section .container-right img {
    width: 100%;
  }
  section .container-left {
    gap: 2.75rem;
  }
  section .container-left .btn-container {
    gap: 2rem;
  }
  section .container-left .btn-container .btn {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.5px;
  }
  section .container-left article {
    gap: 2rem;
  }
  section .container-left article .names {
    gap: 0.5rem;
  }
  section .container-left article .names h2 {
    font-size: 16px;
    line-height: 19px;
  }
  section .container-left article .names h3 {
    font-size: 40px;
    line-height: 46px;
  }
  section .container-left article p {
    width: 70%;
    margin: auto;
    font-size: 16px;
    line-height: 28px;
  }
}

/*----At 1440px----*/
/*----At 1440px----*/
/*----At 1440px----*/
@media screen and (min-width: 1440px) {
  body {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  /*-------Header-----*/
  /*-------Header-----*/
  header .nav-container {
    margin: 0;
    -webkit-margin-start: 3.5rem;
            margin-inline-start: 3.5rem;
    -webkit-margin-before: 2.5rem;
            margin-block-start: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 231px;
    /*-------Navbar-----*/
    /*-------Navbar-----*/
  }
  header .nav-container .logo:nth-child(2) {
    display: none;
  }
  header .nav-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(81.5485px);
            backdrop-filter: blur(81.5485px);
    width: 830px;
    margin: 0;
    padding: 0;
    padding: 2.5rem 0;
    position: static;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
  }
  header .nav-container nav img {
    display: none;
  }
  header .nav-container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 37px;
    margin: 0;
    padding: 0 9.4rem;
    list-style: none;
  }
  header .nav-container nav ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    /*-------Links-----*/
    /*-------Links-----*/
  }
  header .nav-container nav ul li a {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-family: var(--ff-barlowCondensed);
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.4px;
    position: relative;
  }
  header .nav-container nav ul li a::before {
    content: "";
    width: 100%;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    -webkit-margin-after: -36px;
            margin-block-end: -36px;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
  }
  header .nav-container nav ul li a:hover::before {
    height: 3px;
  }
  header .nav-container nav ul li a.active::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    -webkit-margin-after: -36px;
            margin-block-end: -36px;
  }
  header .nav-container nav ul li a span {
    display: inline;
    font-weight: 700;
  }
  header .nav-container nav .line {
    display: block;
    width: 473px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    left: -27rem;
  }
  h1 {
    display: inline-block;
    margin: 4.75rem 10.406rem;
    font-size: 28px;
    line-height: 34px;
  }
  /*-------Section-----*/
  /*-------Section-----*/
  section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8rem;
    margin: 0;
    -webkit-margin-start: 10.406rem;
            margin-inline-start: 10.406rem;
    -webkit-margin-after: 4rem;
            margin-block-end: 4rem;
    /*----right----*/
    /*----left----*/
  }
  section .container-right {
    border-bottom: 1px solid #383b4b;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    border: none;
    border-bottom: 1px solid #383b4b;
  }
  section .container-right img {
    margin: 0;
  }
  section .container-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    gap: 5rem;
    -ms-flex-preferred-size: 54%;
        flex-basis: 54%;
  }
  section .container-left .btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }
  section .container-left .btn-container .btn {
    width: 80px;
    height: 80px;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
  }
  section .container-left article {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.688rem;
  }
  section .container-left article .names {
    gap: 0.938rem;
  }
  section .container-left article .names h2 {
    font-size: 16px;
    font-family: var(--ff-barlowCondensed);
    line-height: 19px;
    letter-spacing: 2.7px;
    text-align: start;
  }
  section .container-left article .names h3 {
    font-size: 56px;
    line-height: 64px;
    text-align: start;
  }
  section .container-left article p {
    width: 100%;
    font-size: 18px;
    line-height: 32px;
    text-align: start;
  }
}
/*# sourceMappingURL=technology.css.map */